NVT simulation of SPC/Fw water

use ortho
finish

seeds 12 34 56 78

temperature 298.16  # Temperature in K.

nbrlist auto

ewald prec 1e-6  # Precision of Ewald summation (infers parameters of Ewald summation)

steps 240000000  # Total number of MC steps.

stats 8000000  # Sampling interval of statistics in PTFILE.

print 8000000  # Interval of print data snapshots in OUTPUT.000 file.

yamldata 8000000 # Sampling interval of yamldata that includes the total energies.

sample coordinates 80000000  # Sampling interval of configurations in trajectory.

check 8000000  # Checking interval of rolling vs. recalculated energies.

archiveformat dcd  # Store trajectory in dcd binary format.

move atom 2 100  # Move two atom types with a weight of hundred.
OW c
HW c

start simulation
